<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ProgrammersLifeiOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DE5B30A71B4B04720012B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5B30C01B4B04730012B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DE5B30CB1B4B04730012B7C8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
